<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<div class="container">

<div class="row">
 <div class="col-md-8 col-md-offset-2">

  <h3>Anime Research</h3>

  <p>
   <table>
    <tr>
     <th>年代</th>
     <td>
      <select id="year" class="select1" onchange="changeYear()">
       <option value=""></option>
       <option value="2019">2019</option>
       <option value="2018">2018</option>
       <option value="2017">2017</option>
       <option value="2016">2016</option>
       <option value="2015">2015</option>
       <option value="2014">2014</option>
      </select>
     </td>
    </tr>
    <tr>
     <th>クール</th>
     <td>
      <select id="season" class="select1" onchange="searchAnime()">
       <option value=""></option>
       <option value="1">1</option>
       <option value="2">2</option>
       <option value="3">3</option>
       <option value="4">4</option>
     </td>
    </tr>
   </table>
  </p>

  <p>
   <table id="result" class="table"></table>
  </p>

 </div>
</div>
